/* assets/styles/app.scss */

/* $red: #fc030b; */
/**/
/* body { */
/*   background: $red; */
/* } */

/* Override some Bootstrap variables */

$white: #fefbff;
$black: #242423;

$light: $white;
$dark: $black;

$body-bg: $light;
$body-color: $dark;
$body-bg-dark: $dark;
$body-color-dark: $light;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';
